#pict {
    height: 200px;
    width: 150px;
    border-radius: 200px;
}

body {
    text-align: center;
    background: black;
}

.sec1 {
    padding-top: 100px;
    background: linear-gradient(#73ffc7 0%, #01106e 100%);
    padding-bottom: 50px;
    height: 800px;
}

.menu {
    list-style: none;
    position: fixed;
    font-family: sans-serif;
    top: 0px;
    right: 30px;
    z-index: 10;
    width: 100%;
    
}

.links {
    color: black;
    padding-right: 25px;
    padding-left: 33px;
    font-family: fantasy;
    font-size: 20px;
    display: inline
}

.links:hover {
    background-color: deeppink;
    font-size: 23px;
    text-decoration: underline;
    font-style: italic;
}

#name {
    font-size: 30px;
    font-variant: small-caps;
    font-family: 'Lobster', cursive;
}

#sec2 {
    padding-right: 150px;
    padding-left: 150px;
    background-color: beige;
}

.line {
    height: 6px;
    width: 70px;
    background-color: #01106e;
    margin: 8px auto;
}
h1{
    font-family: 'Zen Tokyo Zoo', cursive;
}
p{
    font-family: 'Allan', cursive;
font-family: 'Zen Tokyo Zoo', cursive;
}ā
.books1{
    font-style: italic;
    color: darkslategray;
}
img:hover{
    height: 210;
    width: 210;
}
img{
    transition: transform.2s;
}
#contact iframe{
    width: 100%;
}
#videos{
    background: pink;
}
#coding{
    background: white;
}
#contact{
    background-color: darkgray;
}
#books{
    background-color: crimson;
}
#link{
    background: black;
    height: 45px;
}
.carousel slide{
    background-color: aqua;
}
